#indexHeader{
	color: white;
	text-transform: uppercase;
	background-color: #fc715d;
	font-family: 'Oswald', sans-serif;
}

#indexDesignation{
	color: white;
	font-family: 'Mulish', sans-serif;
	background-color: #5c5c5c;
}

#indexDesignation h1{
	padding: 5% 0% 5% 1%;
	font-size: 1em;
}

#indexDescription{
	margin-left: -2.8%;

}

#indexDescription p{
		padding-top: 5%;
		font-family: 'Noto Sans JP', sans-serif;
}

#indexSignature{
	color: #fc715d;
	font-family: 'Homemade Apple', cursive;
	font-weight: 600
}

.bgCard{
	background-color: #343a40!important;
}

.bgCardQualification{
	background-color: #ffffff0d !important;
}

.card-title, .card-text {
	color: white !important;
}

li a{
	color: #fc715d;
	font-weight: 500;
}

@media (min-width: 576px) {
	#skillSpanSpacer{
		margin-left: 0% !important;
	}
}

@media (max-width: 767px){
	.bgCard{
	background-color: #343a40!important;
	display: table-cell !important;
	}
	.h1, h1 {
    font-size: 2rem !important;
	}
}
@media (max-width: 575px){
	.bgCard{
	background-color: #343a40!important;
	display: flex !important;
	}
}
#skillSpanSpacer{
	margin-left: 10%;
}

#bgQualification{
	/*background-image: url("../img/qualification.jpg")*/
}
